.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 600px) {
  .row {
    grid-template-columns: repeat(4, 60px);
  }

  .cell {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.gameOverMessage {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.toolLine {
  display: flex;
  gap: 10px;
  padding: 5px;
  justify-content: flex-end;
}

.toolButton {
  border: none;
  outline: none;
  background-color: #bbada0;
  color: #eeeeee;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.merged-animation {
  animation: merge 0.5s ease forwards;
}

@keyframes merge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
