.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #eee4da;
  color: #776e65;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: background-color 0.2s ease;
}

.cell-2 {
  background-color: #eee4da;
}
.cell-4 {
  background-color: #ede0c8;
}
.cell-8 {
  background-color: #f2b179;
}
.cell-16 {
  background-color: #f59563;
}
.cell-32 {
  background-color: #f67c5f;
}
.cell-64 {
  background-color: #f65e3b;
}
.cell-128 {
  background-color: #edcf72;
}
